@import '../../components/css/tokens/index.css';

.article-container {
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: var(--space-md);
  width: 1024px;
}
